<div>
<h2>A propos de ce projet</h2>

<p>Ce projet a été réalisé dans le cadre du Meetup qui s'est déroulé le 5 décembre 2016 au <a href="https://paris.numa.co/agenda/evenement/du-son-avec-maxmsp-de-lanimation-avec-p5-et-processing-534" target="_blank">NUMA</a>.</p> 

<p>Thème du meetup : "DU SON AVEC MAXMSP, DE L'ANIMATION AVEC P5 ET PROCESSING".</p>

<p>Groupe organisateur de l'évènement : <a href="https://www.meetup.com/fr-FR/Code-Algorithm-Processing-Dream-Paris/" target="_blank">Code, Algorithm, Processing and Dream Paris</a></p>

<p>Ce tutorial a été réalisé en utilisant comme support le micro-framework de présentation 
    développé par Aliaksandr Astashenkau et disponible sur son <a href="https://github.com/dfsq/ngView-animation-effects" target="_blank">compte Github</a>. 
Le socle de ce micro-framework repose sur <code>Angular</code> et <code>Bootstrap</code>.</p>

<p>L'intégration du projet <code>P5.js</code> au sein d'Angular a été réalisée en utilisant le composant développé par Jaymz Rhime, et disponible sur son <a href="https://github.com/wxactly/angular-p5.js/" target="_blank">compte Github.</a></p>

<p>Le code source de ce tutorial est publié sous <a href="https://opensource.org/licenses/MIT" target="_blank">License MIT</a>.</p>
<p>Le contenu pédagogique du tutorial est publié sous License <a href="http://creativecommons.fr/licences/" target="_blank">Creative Commons n° 6 (BY SA)</a>.</p>
</div>