<div>
<h2>A propos de l'auteur (Gregory Jarrige)</h2>

<p>Développeur, Formateur, expert PHP5 certifié (Zend Certified Engineer), spécialiste SQL, passionné par les technos et langages open source tels que : HTML5, Javascript, Angular, P5 et Processing, etc... </p>

<p>Blog : <a href="http://gregphplab.com/" target="_blank">gregphplab.com</a></p>
<p>Labo : <a href="http://backstages.gregphplab.com/public/index.php" target="_blank">backstages.gregphplab.com</a></p>
<p>Twitter : <a href="https://twitter.com/greg_devlab" target="_blank">@greg_devlab</a></p>
<p>Github : <a href="https://github.com/gregja" target="_blank">github.com/gregja</a></p>
<p>Linkedin : <a href="https://fr.linkedin.com/in/gregoryjarrige" target="_blank">fr.linkedin.com/in/gregoryjarrige</a></p>

</div>