<div>
    <div>
    <p>Sur la page qui va suivre, nous allons voir un autre exemple d'utilisation du tableau des coordonnées précalculées.</p>
    <p>L'algorithme va sélectionner dans le tableau, au hasard, 3 jeux de coordonnées XY qui 
        vont constituer les sommets d'un triangle. </p>
    <p>En répétant la technique un grand nombre de fois, avec un effet de transparence
        en prime, on obtient un effet sympa (cf. sketch "cercle 07").
    </p>
    </div><br><br><br><br><br>
    <p>
        <a class="btn btn-md btn-success" ng-click="previousPage($event)" role="button">Previous page</a>
        <a class="btn btn-md btn-success" ng-click="nextPage($event)" role="button">Next page</a>
    </p>
</div>