<div>
    <h4>Le fonctionnement de draw()</h4>
    <p>A la fin de chaque appel de la fonction draw(), ce qui est envoyé au navigateur, c'est le résultat complet de l'image produite par la fonction draw().</p>
    <p>A aucun moment nous n'envoyons au navigateur une version transitoire de ce que la fonction draw() est en train de générer.</p>
    <h4>La solution ?</h4>
    <p>Nous devons faire en sorte que la fontion draw() génère un point du cercle à chaque appel.</p>
    <p>Exemple avec le sketch "cercle 04" qui "tourne" sur la page suivante.</p>
    <br><br><br>
</div>    
    <p>
        <a class="btn btn-md btn-success" ng-click="previousPage($event)" role="button">Previous page</a>
        <a class="btn btn-md btn-success" ng-click="nextPage($event)" role="button">Next page</a>
    </p>
</div>