<div>
    <div>
        <h2>Alors, P5 ou Processing ?</h2>
        <p>Je ne peux pas avoir un avis tranché sur cette question, alors je vous propose l'algorithme suivant ;)</p>
        <p>Si vous êtes à l'aise avec JAVA, allez vers Processing.</p>
        <p>Si vous êtes à l'aise avec Javascript, allez vers P5.</p>
        <p>Si vous êtes à l'aise avec Python, essayez le projet Processing.py (que je n'ai pas testé personnellement mais qui semble prometteur).</p>
        <p>Pour ma part j'ai un faible pour P5, car j'aime beaucoup le langage Javascript (JS) que je trouve particulièrement bien adapté pour l'expérimentation graphique et sonore. </p>
        <p>Doté d'un modèle objet très souple, JS simplifie la manipulation de données structurées (tableaux d'objets notamment), 
            le typage faible des variables est idéal pour le prototypage, et le fait qu'il soit reconnu nativement par tous les navigateurs est un formidable atout. </p>  
    </div>
    <p>
        <a class="btn btn-md btn-success" ng-click="previousPage($event)" role="button">Previous page</a>
        <a class="btn btn-md btn-success" ng-click="nextPage($event)" role="button">Next page</a>
    </p>
</div>