<div>
    <p>
Un sketch P5 ou Processing contient à minima les 2 fonctions setup() et draw()
    </p>
    <div>
        <table><tr><td>
        <pre class="pre pre-javascript language-js" nag-prism><code>
    // avec P5.js                    
    function setup() {
    }
    function draw() {
    }
        </code></pre>
                </td><td>
        <pre class="pre pre-processing language-processing" nag-prism><code>
    // avec Processing                    
    void setup() {
    }
    void draw() {
    }
        </code></pre>
    </td></tr></table>
    <p>
La foncion setup() est exécutée une seule fois, tandis que la fonction draw()
est exécutée en boucle, à un rythme théorique de 60 FPS (Frame Per Second).
    </p>
    <p>
Si vous connaissez un peu Arduino, vous remarquerez la grande similitude avec les fonctions setup() et loop() d'Arduino.
    </p>
    </div>
    <p>
        <a class="btn btn-md btn-success" ng-click="previousPage($event)" role="button">Previous page</a>
        <a class="btn btn-md btn-success" ng-click="nextPage($event)" role="button">Next page</a>
    </p>
</div>