<div>
    <div>
        <h3>Le cercle à la sauce "do it yourself"</h3>
        J'aimerais dessiner un cercle à l'écran, comme si je manipulais un compas. <br>
        Pour cela les primitives générées par les fonctions arc() et ellipse() ne sont pas d'un grand secours.<br>
        Nous avons besoin de l'aide de ce bon vieux Pythagore... ou plus exactement : 
    <ul>
        <li>du nombre PI</li>
        <li>des fonctions trigonométriques Sinus et Cosinus</li>
        <li>des coordonnées X et Y du centre du cercle, et de son rayon</li>
    </ul>
        Le sketch "cercle 03" nous fournit un exemple de mise en application.    
    </div>
    <br>
    <p>
        <a class="btn btn-md btn-success" ng-click="previousPage($event)" role="button">Previous page</a>
        <a class="btn btn-md btn-success" ng-click="nextPage($event)" role="button">Next page</a>
    </p>
</div>