<div>
    <p>
        Dessiner des cercles avec P5 et Processing est facile. <br>
        On peut s'appuyer notamment sur les primitives "ellipse" et "arc" :
    </p>
    <div>
        <pre class="pre pre-javascript language-js" nag-prism><code>
        ellipse(x,y,w,[h])
        arc(x,y,w,h,angleStart,angleStop,[mode])
        </code></pre>
        <br>
    </div>
        <ul>
            <li>Documentation P5 : <a href="http://p5js.org/reference/" target="_blank">http://p5js.org/reference/</a></li>
            <li>Documentation Processing : <a href="https://processing.org/reference/" target="_blank">https://processing.org/reference/</a></li>
        </ul>  
    <br>
    <p>
        <a class="btn btn-md btn-success" ng-click="previousPage($event)" role="button">Previous page</a>
        <a class="btn btn-md btn-success" ng-click="nextPage($event)" role="button">Next page</a>
    </p>
</div>