<div>
    <div>
        <h3>Une alternative possible</h3>
        <p>Dans le sketch précédent, nous calculions les coordonnées XY de chaque point en "live", et ça fonctionnait bien. 
        Mais si vous êtes amenés à faire des calculs complexes qui allongent la durée d'exécution de la fonction draw(), cette approche 
        pourrait ne plus convenir.</p>
        <p>On peut contourner la difficulté en précalculant les coordonnées X,Y 
        des différents points définissant le pourtour du cercle, et en stockant 
        ces coordonnées dans un tableau.</p>
        <p>Exemple d'implémentation avec le sketch "cercle 05", que vous 
        pouvez voir "tourner" sur la page suivante<br>
        </p>
    </div><br><br><br>
    <p>
        <a class="btn btn-md btn-success" ng-click="previousPage($event)" role="button">Previous page</a>
        <a class="btn btn-md btn-success" ng-click="nextPage($event)" role="button">Next page</a>
    </p>
</div>